<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Visit our Blog!</h2>
                <hr class="light">
                <p class="text-faded">Sharing practical insights on End User Computing (EUC) and modern workplace technologies.</p>
                <a href="https://blog.beaugtech.com" class="btn btn-default btn-xl">Blog</a>
            </div>
        </div>
    </div>
</section>
